@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
/* .cf { *zoom: 1; } */

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

.slider {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
}

.backgroundSlider_imageList {
 height: 100%;
 width: 100%;
 display: flex;
 overflow: hidden;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}

.backgroundSlider_imageList li { 
  width: 100%; 
  height: 100%; 
  display: none;
}

.backgroundSlider_image {
  height: 100%;
  width: 100%;
}

.backgroundSlider_imageList .activeBackground { display: block; }

.mainSlider_list {
  width: 65%;
  height: 70%;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 15%;
  left: 17.5%;
  transform: translate(0,0);
}

.mainSlider_list li { 
  width: 100%;
  height: 100%;
  display: none; 
}

.mainSlider_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainSlider_list .active { display: block; }


.rightbutton ,.leftbutton { 
  padding: 15%;
  text-indent: -9999px;
  float: left;
  transition: 0.2s;
  font-size: 45px;
  color: #fff;
 }

.leftbutton::before {
  font-family: "fontAwesome";
  content: "\f060";
  text-indent: 0;
  float: left;
}

.rightbutton::before {
  font-family: "fontAwesome";
  content: "\f061";
  text-indent: 0;
  float: left;
}

.rightbutton {
  border-top: 2px solid #F8A500;
  border-bottom: 2px solid #F8A500;
  border-right: 2px solid #F8A500;
}

.buttoncontainerl { 
  width: 9%; 
  height: 16%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top:42%;
  left: 8.6%;
}

.buttoncontainerr {
  width: 9%;
  height: 16%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  top:42%;
  right: 8.6%;
}

.leftbutton {
  border-top: 2px solid #F8A500;
  border-bottom: 2px solid #F8A500;
  border-left: 2px solid #F8A500;
}

/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  